.venv/
scripts/
.DS_Store
.gitignore
.env
global-bundle.pem
__pycache__/
.vscode/launch.json
.gitignore
.vscode/tasks.json
.gitignore
.vscode/settings.json
api/api.zip
ddl.txt
lambda_deploy.zip
requirements.txt
package/db.py
package/lambda_function.py
package/psycopg2/__init__.py
package/psycopg2/_ipaddress.py
package/psycopg2/_json.py
package/psycopg2/_psycopg.cpython-39-darwin.so
package/psycopg2/_range.py
package/psycopg2/errorcodes.py
package/psycopg2/errors.py
package/psycopg2/extensions.py
package/psycopg2/extras.py
package/psycopg2/pool.py
package/psycopg2/sql.py
package/psycopg2/tz.py
package/psycopg2/.dylibs/libcom_err.3.0.dylib
package/psycopg2/.dylibs/libcrypto.3.dylib
package/psycopg2/.dylibs/libgssapi_krb5.2.2.dylib
package/psycopg2/.dylibs/libk5crypto.3.1.dylib
package/psycopg2/.dylibs/libkrb5.3.3.dylib
package/psycopg2/.dylibs/libkrb5support.1.1.dylib
package/psycopg2/.dylibs/liblber.2.dylib
package/psycopg2/.dylibs/libldap.2.dylib
package/psycopg2/.dylibs/libpq.5.dylib
package/psycopg2/.dylibs/libssl.3.dylib
package/psycopg2_binary-2.9.12.dist-info/INSTALLER
package/psycopg2_binary-2.9.12.dist-info/METADATA
package/psycopg2_binary-2.9.12.dist-info/RECORD
package/psycopg2_binary-2.9.12.dist-info/REQUESTED
package/psycopg2_binary-2.9.12.dist-info/top_level.txt
package/psycopg2_binary-2.9.12.dist-info/WHEEL
package/psycopg2_binary-2.9.12.dist-info/licenses/LICENSE
